<!DOCTYPE html>
<html>

<head>
    <title>All Books</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width = device-width, initial-scale = 1, shrink-to-fit = no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Font awesome CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/books.css">
</head>

<body id="books">
    <header>
        <div>
            <%- include('navbar') -%>
        </div>
    </header>
    <%- include('wishlistModal') -%>
    <main>
        <div class="booksContainer container-fluid">
            <h2 class="mt-5 pt-5 pb-3">All Books</h2>
            <div class="booksList d-flex flex-row overflow-auto">
                <% books.forEach(function(book) { %>
                        <img src="<%= book.image %>" onclick="location.href='/api/books/<%= book.title%>/<%= book.author%>'" alt="<%= book.title%>">
                <% }); %>
            </div>
        </div>
        <div class="booksContainer container-fluid">
            <h2 class="mt-5 pt-5 pb-3">Fiction</h2>
            <div class="booksList d-flex flex-row overflow-auto">
                <% books.forEach(function(book) { %>
                    <% if (book.tags.main === "fiction") { %>
                        <img src="<%= book.image %>" onclick="location.href='/api/books/<%= book.title%>/<%= book.author%>'" alt="<%= book.title%>">
                    <% } %>
                <% }); %>
            </div>
        </div>
        <div class="booksContainer container-fluid">
            <h2 class="mt-5 pt-5 pb-3">Non-Fiction</h2>
            <div class="booksList d-flex flex-row overflow-auto">
                <% books.forEach(function(book) { %>
                    <% if (book.tags.main === "non-fiction") { %>
                        <img src="<%= book.image %>" onclick="location.href='/api/books/<%= book.title%>/<%= book.author%>'" alt="<%= book.title%>">
                    <% } %>
                <% }); %>
            </div>
        </div>
        <div class="booksContainer container-fluid">
            <h2 class="mt-5 pt-5 pb-3">Teens & YA</h2>
            <div class="booksList d-flex flex-row overflow-auto">
                <% books.forEach(function(book) { %>
                    <% if (book.tags.main === "Teens & YA") { %>
                        <img src="<%= book.image %>" onclick="location.href='/api/books/<%= book.title%>/<%= book.author%>'" alt="<%= book.title%>">
                    <% } %>
                <% }); %>
            </div>
        </div>
        <div class="booksContainer container-fluid">
            <h2 class="mt-5 pt-5 pb-3">Kids</h2>
            <div class="booksList d-flex flex-row overflow-auto">
                <% books.forEach(function(book) { %>
                    <% if (book.tags.main === "kids") { %>
                        <img src="<%= book.image %>" onclick="location.href='/api/books/<%= book.title%>/<%= book.author%>'" alt="<%= book.title%>">
                    <% } %>
                <% }); %>
            </div>
        </div>
        <div class="booksContainer container-fluid">
            <h2 class="mt-5 pt-5 pb-3">Biography</h2>
            <div class="booksList d-flex flex-row overflow-auto">
                <% books.forEach(function(book) { %>
                    <% if (book.tags.main === "biography") { %>
                        <img src="<%= book.image %>" onclick="location.href='/api/books/<%= book.title%>/<%= book.author%>'" alt="<%= book.title%>">
                    <% } %>
                <% }); %>
            </div>
        </div>
        <div class="booksContainer container-fluid">
            <h2 class="mt-5 pt-5 pb-3">Classic</h2>
            <div class="booksList d-flex flex-row overflow-auto">
                <% books.forEach(function(book) { %>
                    <% if (book.tags.main === "classic") { %>
                        <img src="<%= book.image %>" onclick="location.href='/api/books/<%= book.title%>/<%= book.author%>'" alt="<%= book.title%>">
                    <% } %>
                <% }); %>
            </div>
        </div>
    </main>
    <%- include('footer') -%>
    </div>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="/js/common.js"></script>
</body>

</html>