<!DOCTYPE html>
<html>

<head>
    <title><%= bookInfo.title%></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width = device-width, initial-scale = 1, shrink-to-fit = no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Font awesome CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/book.css">
</head>

<body id="page">
    <header>
        <div>
            <%- include('navbar') -%>
        </div>
    </header>
    <%- include('wishlistModal') -%>
    <main>
        <div class="bookIntroduction row justify-content-center p-5">
            <img class="bookCover col-lg-5" src="<%= bookInfo.image%>" alt="<%= bookInfo.title%>">
            <div class="col-lg-7 pl-lg-5 pt-5 pt-lg-0">
                <h2><%= bookInfo.title %></h2>
                <p class="pb-3">by <%= bookInfo.author %></p>
                <hr>
                <p id="purchaseOptionTitle"></p>
                <p id="purchaseOptionPrice" class="mt-n4"></p>
                <div class="purchaseOptions">
                    <% Object.entries(bookInfo.purchaseOptions).forEach(function(option) { %>
                        <button type="button" class="purchaseButtons btn btn-light" onclick="changePurchaseOption(this)">
                            <p class="option"><%= option[1].option %></p>
                            <p class="price"><%= option[1].price %></p>
                        </button>
                    <% }); %>
                </div>
                <form id="wishlistForm" method="POST" action="/addRemoveWishlist">
                    <input type="hidden" name="title" value="<%= bookInfo.title %>">
                    <input type="hidden" name="author" value="<%= bookInfo.author %>">
                    <input type="hidden" name="image" value="<%= bookInfo.image %>">
                </form>
                <button id="addToCart" class="btn btn-primary mt-4 p-2">Add to Cart</button>
                <button type="submit" form="wishlistForm" id="addRemoveWishlist" class="btn btn-light btn-outline-dark mt-4 ml-4 p-2">
                    <% if (wishlistedCurrentBook) { %>
                        Remove from Wishlist
                    <% } else { %>
                        Add to Wishlist
                    <% } %>
                </button>
            </div>
        </div>
        <div class="overview py-3 mb-5">
            <h2 class="text-left pb-3">Overview</h2>
            <p id="overviewText" class="d-none"><%= bookInfo.overview.replace(/\n/g, '<br><br>') %></p>
            <div id="overviewTextCard" class="card p-4"></div>
        </div>
        <div id="ProductDetailsTab">
            <h2 class="text-center py-3">Product Details</h2>
            <table class="plain m-auto">
                <tbody>
                    <% Object.entries(bookInfo.productDetails).forEach(function(detail) { %>
                        <% if (detail[0] === "ISBN") { %>
                            <tr class="text-left">
                                <th>ISBN-13:</th>
                                <td class="p-2"><%= detail[1] %></td>
                            </tr>
                        <% } else if (detail[1] !== undefined) { %>
                            <tr class="text-left">
                                <th><%= (detail[0].charAt(0).toUpperCase() + detail[0].slice(1)).replace(/[A-Z]/g, letter => ` ${letter}`) %>:</th>
                                <td class="p-2"><%= detail[1] %></td>
                            </tr>
                    <% }}); %>
                </tbody>
            </table>
        </div>
    </main>
    <%- include('footer') -%>
    </div>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="/js/book.js"></script>
</body>

</html>